<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forex Converter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="conatiner">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-danger">
                <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                </div>
            {% endif %}
            {% endwith %}
        <div class="header">
            <h1>Currency Converter</h1>
            <h3>Convert any currency to any other currency</h3>
        </div>
        <form class="converter-form" method="POST" action="/convert">
            <label>Converting from:</label>
            <input type="text" name="convert-from" placeholder="3 letter currency code" class="custom-input">

            <label>Converting to:</label>
            <input type="text" name="convert-to" placeholder="3 letter currency code" class="custom-input">

            <label>Amount:</label>
            <input type="text" name="amount" placeholder="enter amt" class="custom-input">

            <button type="submit">Convert</button>
        </form>
    </div>
</body>
</html>